/* Object fit marche après avoir donné une width et height à une image */

.fiche-produit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Heebo', sans-serif;
  margin-top: 20px;

}

.div-image-fiche {

  width: 500px;
  height: 600px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 145px;
}

.image-fiche {
  width: 500px;
  height: 600px;
  object-fit: contain;

}

.commentaires-produit {
  margin-top: 40px;
  width: 500px;
  text-align: center;

}

.fiche-nom-produit {
  color: #0072B5;
}

.fiche-info-produit {
  color: #363945;

}


.fiche-code-produit {
  color: #ff0921;
}

.fiche-code-produit {
  font-family: 'Martian Mono', monospace;
}


.fiche-prix-produit {
  color: #0072B5;
}

.btn-produit {
  margin-top: 30px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}

.reserve-part {
  margin-top: 80px;
}

.btn-réserver {
  height: 40px;
  width: 100px;
  background-color: #009B77;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 12px;
  cursor: pointer;

}

.btn-autre-produit {
  height: 40px;
  background-color: #3d83df;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 12px;
  cursor: pointer;

}




.item-fichedb {
  border: solid 1px rgb(186, 186, 186);
  border-radius: 10px;
  height: 410px;
  width: 100%;
  margin-top: -50px;
  margin-bottom: 50px;
}

.item-fichedb:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.div-thumbnail-allproducts {
  width: 100%;
  height: 270px;
}

.thumbnail-products {
  /* C'est l'image qui doit avoir width et height défini et object-fit */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*avec contain, l'image apparait à 100% mais s'ajuste à la dimension donnée*/
  /*Avec cover: l'image s'ajuste à la dimension donnée, mais peut perdre une partie si trop grande*/
  border-radius: 10px 10px 0 0;

}

.text-all-products {
  text-align: center;
  height: 160px;
}

.all-products-type {
  color: #0072B5;
  font-family: 'Heebo', sans-serif;
  margin-bottom: 5px;

}

.nom-dimensions {
  display: flex;
  align-items: center;
  height: 38px;
  color: #363945;
  justify-content: center;
  font-family: 'Martian Mono', monospace;
  margin-top: -10px;
  margin-bottom: -20px;


}

.all-products-matiere {
  font-family: 'Martian Mono', monospace;
  color: #ff0921;
}


.all-products-price {
  color: #0072B5;
  font-family: 'Heebo', sans-serif;
  margin-top: -10px;

}

.btn-autre-produit {

  height: 40px;
  background-color: #3d83df;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 12px;
  cursor: pointer;

}

.btn-réserver {
  height: 40px;
  width: 100px;
  background-color: #009B77;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 12px;
  cursor: pointer;

}

.link-whatsapp {
  margin-left: -20px;
}

/* Style Reserve part */

.whatsapp-div {
  background-color: #EDF1FF;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: bold;
  height: 150px;
  width: 680px;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.reserve-part {
  margin-left: -50px;

}

.whatsapp-button {
  background-color: #25d366;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.whatsapp-button:hover {
  background-color: #009B77; 
}

/* no other products style */

.autres-product {
  margin-bottom: 140px;
}
.no-other-products {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #DD4124;
}

/* style fiche produit */

.fiche-nom-produit, 
.fiche-info-produit,
.fiche-prix-produit {
  border-bottom: 1px solid #333;

}

