/* Object fit marche après avoir donné une width et height à une image */

.fiche-produit {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.div-carousel {
  margin-top: 60px;
  margin-left: 150px;
  margin-bottom: 50px;
  width: 500px;
}

.div-image-fiche {
  object-fit: contain;
  width: 500px;
  height: 525px;
  /* important pour aligner les images du carousel qui ne sont pas hautes, ou qui sont trop hautes et dont on ne voit qu'une partie de l'image */
  display: flex;
  align-items: center;

}

.infos-produit {
  margin-top: 35px;
  margin-left: 100px;

}

.nom-produit {
  font-family: 'Merriweather', serif;
  color: #0072B5;
}

.dimensions-produit,
.matiere-produit,
.code-produit {
  color: #363945;
}

.prix-produit {
  font-family: 'Heebo', sans-serif;
  color: #0072B5;
}

.btn-produit {
  margin-top: 30px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.btn-autre-produit {

  height: 40px;
  background-color: #3d83df;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 12px;
  cursor: pointer;

}

.btn-réserver {
  height: 40px;
  width: 100px;
  background-color: #009B77;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 12px;
  cursor: pointer;

}