/* Object fit marche après avoir donné une width et height à une image */

.fiche-produit {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-fiche{
 width: 450px;
 height: 450px;
 object-fit: contain;
  
}

.div-image-fiche {
  margin-top: 60px;
  margin-left: 150px;
  margin-bottom: 50px;
  width: 500px;
}

.infos-produit {
  margin-top: 35px;
  margin-left: 100px;

}

.nom-produit {
  font-family: 'Merriweather', serif;
  color: #0072B5;
}

.dimensions-produit, .matiere-produit, .code-produit {
  color: #363945;
}

.prix-produit {
  font-family: 'Heebo', sans-serif;
  color: #0072B5;
}

.btn-produit {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.btn-autre-produit {
  
    height: 30px;
    background-color: #3d83df;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    padding: 0 12px 0 12px;
    cursor: pointer;
  
}

.btn-réserver {
  height: 30px;
  background-color: #009B77;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 12px;
  cursor: pointer;

}


