
.header {
  display: flex;
  justify-content: space-around;
  background-color: white;
 
}

.logo {
  width: 150px;
}

.home-button, .page-selection, .vendre-btn{
  color: #ababab;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Martian Mono', monospace;

}






.div-dropdown {
  position: relative;
}


.dropdown {
  position: absolute;
  z-index: 1;
  right: -75px;
  top: 50px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  text-align: left;
  width: 200px;
  font-family: 'Roboto', sans-serif;
  color: #ababab;
  line-height: 22px;
  display: none;
  text-align: center;
}

.div-dropdown:hover .dropdown {
display: block;
box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.dropdown:hover {
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-around;
}

.home-link {
  text-decoration: none;
}

.home-button:hover, .contact-btn:hover, .vendre-btn:hover {
  color:  #00A170;
}

.drop-btn:hover {
  text-decoration: underline;
}