.header {
  display: flex;
  background-color: white;
  height: 75px;

}


.logo {
  width: 110px;
  margin-left: 150px;
}

.home-button,
.page-selection,
.vendre-btn {
  color: #939597;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Martian Mono', monospace;
  font-size: 20px;


}



.div-dropdown {
  position: relative;
}


.dropdown {
  position: absolute;
  z-index: 1;
  right: -55px;
  top: 60px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  text-align: left;
  width: 200px;
  font-family: 'Merriweather', serif;
  color: #ababab;
  line-height: 22px;
  display: none;
  text-align: center;
}


.div-dropdown:hover .dropdown {
  display: block;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.dropdown:hover {
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-around;
  margin-left: 245px;
  margin-top: 15px;
}

.home-link {
  text-decoration: none;
}

.home-button:hover,
.contact-btn:hover,
.vendre-btn:hover {
  color: #00A170;
}

.drop-btn:hover {
  text-decoration: underline;
}

@media (max-width:1020px) {

  .navbar {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    margin-left: 435px;
    margin-top: 45px;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    z-index: 1;
    top: 0;

  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
  }

  .open .bar:nth-child(1) {
    transform: rotate(-50deg) translate(-7px, 6px);
  }

  .open .bar:nth-child(2) {
    opacity: 0;
  }

  .open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /*pour faire apparaitre le header en column sur toute la page */
  /* .header.open = element ayant les 2 class  */
  .header.open {
    display: flex;
    flex-direction: column;
    /* fixed = will not move when the page is scrolled */
    position: fixed;
    /* top: 0 = collé au bord haut du browser */
    top: 0;
    /* positionned at the extrem left (pas obligé) */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    /* 1: Pour que le header soit au dessus de tous les élements de la page et qu'on ne voit que lui */
    z-index: 1;
  }

  /* pour atteindre les élements dans le div clasName="navbar" à l'intérieur du header quand il a la class open active */
  .header.open .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header.open .logo-header {
    display: flex;
    margin: 0 251px;
    margin-top: 50px;
  }

  .header.open .hamburger-menu {
    margin-top: 160px;
    margin-left: 440px;
    
  }

  .header.open .navbar {
    margin: 80px -17px;
  }

  .header.open .div-dropdown {
    text-align: center;
    margin: 10px 0;
  }

  .header.open .div-dropdown:hover .dropdown {
    display: block;
    box-shadow: none;
    position: absolute;
    left: 100px;
    top: 13px;
  }


  .header.open .navbar a {
    text-align: center;
  }

}