
.header {
  display: flex;
  background-color: white;
  height: 75px;
 
}


.logo {
  width: 110px;
  margin-left: 150px;
}

.home-button, .page-selection, .vendre-btn{
  color: #939597;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Martian Mono', monospace;
  font-size: 20px;
  

}



.div-dropdown {
  position: relative;
}


.dropdown {
  position: absolute;
  z-index: 1;
  right: -55px;
  top: 60px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  text-align: left;
  width: 200px;
  font-family: 'Merriweather', serif;
  color: #ababab;
  line-height: 22px;
  display: none;
  text-align: center;
}


.div-dropdown:hover .dropdown {
display: block;
box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.dropdown:hover {
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-around;
  margin-left: 245px;
  margin-top: 15px;
}

.home-link {
  text-decoration: none;
}

.home-button:hover, .contact-btn:hover, .vendre-btn:hover {
  color:  #00A170;
}

.drop-btn:hover {
  text-decoration: underline;
}