/* Style for the table */
.table-dashboard {
  width: 100%;
  border-collapse: collapse;
}

.subtitle-dashboard, .data-dashboard {
  border: 3px solid #ddd;
  padding: 8px;
  text-align: center;
}

.all-btn-dash {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin: 0 auto;
}

.dashboard-name-title {
  font-family: 'Martian Mono', monospace;
  margin-bottom: 50px;
}

.input-search-dash {
  height: 25px;
  border-radius: 9px;
  margin-left: 660px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-dash-home {
  background-color: green;
  border-radius: 9px;
}

.btn-dash-add {
  border-radius: 9px;
}
.subtitle-dashboard {
  background-color: #f2f2f2;
}

/* Style for the product image */
.dashboard-img {
width: 60px;
height: 60px;
}

/* Style for the edit and delete icons */
.icones-holder {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.icon-dashboard {
  cursor: pointer;
  font-size: 20px;
  margin: 0 5px;
}

/* Style for the input and buttons when editing */
.input-edit-dash{
  width: 40%;
  padding: 5px;
  border-radius: 10px;
}

/* Style for the dashboard-product div */
.dashboard-icones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the update and cancel buttons */
 .btn-dashboard{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.btn-dashboard:hover {
  background-color: #0056b3;
}

.logout-button {
 
 width: 90px;
 height: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 9px;
 font-family: 'Roboto', sans-serif;
 background-color: red;
 color: white;
 cursor: pointer;
 
}

.logout-clicked {
  background-color: #ed0000;
}
