.merci-form {
  text-align: center;
  margin-top: 5px;

}
.nom-famille {
  margin-top: 20px;

}
.prenom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tel {
  margin-top: 20px;
}

.ville {
  margin-bottom: 20px;
}



.all-form {
  color: white;
  background-image: radial-gradient(circle at 77% 43%, rgba(168, 168, 168,0.04) 0%, rgba(168, 168, 168,0.04) 50%,rgba(10, 10, 10,0.04) 50%, rgba(10, 10, 10,0.04) 100%),radial-gradient(circle at 33% 65%, rgba(248, 248, 248,0.04) 0%, rgba(248, 248, 248,0.04) 50%,rgba(228, 228, 228,0.04) 50%, rgba(228, 228, 228,0.04) 100%),radial-gradient(circle at 92% 79%, rgba(152, 152, 152,0.04) 0%, rgba(152, 152, 152,0.04) 50%,rgba(28, 28, 28,0.04) 50%, rgba(28, 28, 28,0.04) 100%),radial-gradient(circle at 91% 13%, rgba(41, 41, 41,0.04) 0%, rgba(41, 41, 41,0.04) 50%,rgba(214, 214, 214,0.04) 50%, rgba(214, 214, 214,0.04) 100%),linear-gradient(90deg, rgb(11, 127, 96),rgb(139, 205, 191));
  height: 500px;
  padding: 20px 40px;
  margin: 50px 150px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-column {
  margin-left: 100px;
  margin-top: -10px;
}

label {
  display: block;
}

.text-area-form {
  margin-top: 40px;
}

.news-btn {
  margin-top: 20px;
}

.form-button {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: flex;
  justify-content: space-around;
  
}

.submit-btn {
  height: 30px;
  width: 100px;
  background-color: #009B77;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 12px;
  cursor: pointer;
}

.reset-btn {
  height: 30px;
  background-color: #DD4124;
  width: 100px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 12px;
  cursor: pointer;
}







