.merci-form {
  text-align: center;
  margin-top: 5px;

}
.nom-famille {
  margin-top: 20px;

}
.prenom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.telephone {
  margin-top: 20px;
}

.ville {
  margin-bottom: 20px;
}



.all-form {
  color: white;
  background-image: radial-gradient(circle at 77% 43%, rgba(168, 168, 168,0.04) 0%, rgba(168, 168, 168,0.04) 50%,rgba(10, 10, 10,0.04) 50%, rgba(10, 10, 10,0.04) 100%),radial-gradient(circle at 33% 65%, rgba(248, 248, 248,0.04) 0%, rgba(248, 248, 248,0.04) 50%,rgba(228, 228, 228,0.04) 50%, rgba(228, 228, 228,0.04) 100%),radial-gradient(circle at 92% 79%, rgba(152, 152, 152,0.04) 0%, rgba(152, 152, 152,0.04) 50%,rgba(28, 28, 28,0.04) 50%, rgba(28, 28, 28,0.04) 100%),radial-gradient(circle at 91% 13%, rgba(41, 41, 41,0.04) 0%, rgba(41, 41, 41,0.04) 50%,rgba(214, 214, 214,0.04) 50%, rgba(214, 214, 214,0.04) 100%),linear-gradient(90deg, rgb(11, 127, 96),rgb(139, 205, 191));
  height: 600px;
  padding: 20px 40px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Roboto', sans-serif;
  border-radius: 25px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-column {
  margin-left: 50px;
  margin-top: -10px;
}

label {
  display: block;
}

.all-text-area {
  margin-top: 45px;
  margin-left: 90px ;
}

.contact-text-area {
border: 1px solid rgba(105, 105, 105, 0.397);
border-radius: 10px;
font-size: 17px; 
}


.form-button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: flex;
  justify-content: space-around;
  
}

.submit-btn, .reset-btn {
  height: 40px;
  width: 100px;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 12px;
  cursor: pointer;
}

.submit-btn {
  background-color: #009B77;
}
.reset-btn {
  background-color: #DD4124;
}



.contact-form-input {

width: 90%;
padding: 10px 10px 20px 10px;
border: 1px solid rgba(105, 105, 105, 0.397);
border-radius: 10px;
font-size: 17px;

}

.contact-form-label {
  font-size: 20px;
 
}

@media (max-width: 1350px) {
  .form-grid {
    display: grid;
    grid-template-columns: 1fr;
    
  }

  .all-form {
    height: 1000px;
  }

  .all-text-area {
    margin-left: 50px;
  }

}
