.grid-decoration {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  gap: 50px 50px;
  justify-content: center;
  margin-top: 90px;
}



.item-decoration {
  border: solid 1px rgb(186, 186, 186);
  border-radius: 10px;
  height: 410px;
  width: 100%;
}

.item-decoration:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.div-thumbnail-decoration{
  width: 100%;
  height: 270px;
}

.thumbnail-decoration {
  /* C'est l'image qui doit avoir width et height défini et object-fit */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*avec contain, l'image apparait à 100% mais s'ajuste à la dimension donnée*/
  /*Avec cover: l'image s'ajuste à la dimension donnée, mais peut perdre une partie si trop grande*/
  border-radius: 10px 10px 0 0;

}

.text-decoration{
  text-align: center;
  height: 160px;
}

.decoration-type {
  color: #0072B5;
  font-family: 'Heebo', sans-serif;
  margin-bottom: 5px;

}

.decoration-nom-dimensions {
  display: flex;
  align-items: center;
  height: 38px;
  color: #363945;
  justify-content: center;
  font-family: 'Martian Mono', monospace;
  margin-top: -10px;
  margin-bottom: -20px;


}

.decoration-matiere {
  font-family: 'Martian Mono', monospace;
  color: #ff0921;
}


.decoration-price {
  color: #0072B5;
  font-family: 'Heebo', sans-serif;
  margin-top: -10px;
}

.deco-card-link {
  text-decoration: none;
}

.deco-header {
  background-color: #E0B589;
  color: #fff;
  text-align: center;
  padding: 15px;
}