.all-concept {
  display: flex;
  margin-bottom: 150px;
  font-size: 19px;
}

.concept {
  margin-top: 10px;
  background-image: url('/public/concept.jpg');
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

/* Style card activité */

.card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 12px;
}

.small-desc {
  margin-top: 43px;
}

.small-desc2 {
  margin-top: 40px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #6293c8, #384c6c);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card-activité {
  display: block;
  position: relative;
  width: 300px;
  height: 450px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 1.7em 1.2em;
  margin: 100px 100px 100px 100px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  font-family: 'Heebo', sans-serif;
}

.card-activité:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #364a60, #384c6c);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card-activité:hover:before {
  transform: scale(35);
}

.card-activité:hover {
  transition: all 0.5s ease-out;
  color: #ffffff;
}

.card-activité:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}

.btn-achat {
    height: 35px;
    background-color: #3d83df;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    padding: 0 12px 0 12px;
    cursor: pointer;
}

/* Style carte vente */

.card-vente {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 450px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Heebo', sans-serif;
}

.content-vente {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.heading-vente {
  margin-top: 1px;
}

.content-vente .heading-vente{
  font-weight: 700;
  font-size: 1.5em;
}

.content-vente .para-vente {
  line-height: 1.5;
}

.content-vente .btn-vente {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-vente::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-vente:hover::before {
  height: 100%;
}

.card-vente:hover {
  box-shadow: none;
  color: #e8e8e8;
}

.card-vente:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content-vente .btn-vente:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content-vente .btn-vente:active {
  box-shadow: none;
}

/* Card social */
.card-media {
 
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 20px;
  width: 320px;
  height: 500px;
  color: #ffffff;
  background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
  opacity: 0.85;
  padding-top: 12px;
  padding-left: 25px;
  font-family: 'Heebo', sans-serif;
  
}

.para-media {
  margin-top: 45px;
  margin-bottom: 45px;

}