.concept {
  margin-top: 10px;
  background-image: url('/public/concept.jpg');
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.vente-concept {
  
  margin-top: 100px;
  margin-bottom: 90px;
  height: 700px;
  margin-left: 150px;
  margin-right: 150px;
  /* Obligé de mettre relative pour que le text soit en absolute par rapport à l'image et non à toute la page */
  position: relative; 

}

.titre-vente-concept {
  position: absolute;
  color: white;
  top: 10px;
  left: 310px;

}

.text-vente-concept {
  position: absolute;
  color: white;
  top: 100px;
  left: 80px;
  font-size: 30px;

}

.img-vente-concept {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



