.div-title-home {
  border: 2px solid black;
  height: 100px;
  display: flex;
  align-items: center;

}

.home-title {
  margin-left: 400px;
}

.input-home{
  margin-left: 100px;
}


.grid-home-filter {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  gap: 50px 50px;
  justify-content: center;
  border: 2px solid red;
}