.main-page{
  margin-bottom: 100px;
}


.div-title-home {
  
  margin-bottom: 50px;
  height: 100px;
  display: flex;
  align-items: center;


}

.home-title {
  margin-left: 400px;
  margin-top: 50px;
  font-family: 'Martian Mono', monospace;
  color: #FA7A35;
}

.input-home{
  margin-left: 100px;
  margin-top: 30px;
}


.grid-home-filter {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  gap: 50px 50px;
  justify-content: center;
}