
.item{
  border: solid 1px rgb(247, 233, 233);
  border-radius: 10px;
  width: 90%;
  
}

.item:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px); /*Pour que l'image se relève quand on hover*/
}

.div-thumbnail{
  width: 220px;
  height: 240px;
  
}

.thumbnail {
  width: 220px;
  height: 240px;
  object-fit: contain;
  /*avec contain, l'image apparait à 100% mais s'ajuste à la dimension donnée*/
  /*Avec cover: l'image s'ajuste à la dimension donnée, mais peut perdre une partie si trop grande*/
  border-radius: 10px 10px 0 0;
  margin-left: 2.5px;
  

}

.text-product {
  text-align: center;
}

.product-title, .product-details{
  margin-bottom: -10px;
}



.product-button{
  height: 30px;
  background-color: #3d83df;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 12px;
  cursor: pointer;
}