.link {
  text-decoration: none;
}

.item-ajout-recent {
  border: solid 1px rgb(186, 186, 186);
  border-radius: 10px;
  height: 410px;
  width: 100%;
}

.item-ajout-recent:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  /*Pour que l'image se relève quand on hover*/
}

.div-thumbnail {
  width: 100%;
  height: 270px;
}

.product-thumbnail {
  /* C'est l'image qui doit avoir width et height défini et object-fit */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*avec contain, l'image apparait à 100% mais s'ajuste à la dimension donnée*/
  /*Avec cover: l'image s'ajuste à la dimension donnée, mais peut perdre une partie si trop grande*/
  border-radius: 10px 10px 0 0;


}

.text-product {
  text-align: center;
  height: 160px;
}

.product-type {
  color: #0072B5;
  font-family: 'Heebo', sans-serif;
  margin-bottom: -25px;

}

.product-details {
  height: 38px;
  color: #363945;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Martian Mono', monospace;

}

.product-matiere {
  font-family: 'Martian Mono', monospace;
  color: #ff0921;
  margin-top: -20px;
  
}



.product-price {
  color: #0072B5;
  font-family: 'Heebo', sans-serif;
  margin-top: -11px;
}

