

.item-s7 {
  border: solid 1px rgb(247, 233, 233);
  border-radius: 10px;
  width: 90%;
  border: 2px solid blue;
}

.item-s7:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px); /*Pour que l'image se relève quand on hover*/
}

.image-s7 {
  border: 2px solid green;
  width: 220px;
  height: 240px;
}
.img-s7 {
  width: 220px;
  height: 240px;
  object-fit: contain;
  /*avec contain, l'image apparait à 100% mais s'ajuste à la dimension donnée*/
  /*Avec cover: l'image s'ajuste à la dimension donnée, mais peut perdre une partie si trop grande*/
  border-radius: 10px 10px 0 0;

}


.button-s7 {
  height: 32px;
  background-color: #3d83df;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 0 12px 0 12px;
  cursor: pointer;
}