.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #EDF1FF;
  height: 200px;
}

.abonnement {
  margin-left: 320px;
  color: #363945;
  margin-top: auto;
  margin-bottom: auto;
}


.contact-footer {
  margin-left: 150px;
  margin-top: auto;
  margin-bottom: auto;
}

