.footer-container {
  background-color: #EDF1FF;
  
}

.top-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px ;
}

.abonnement {
  margin-left: 320px;
  color: #363945;
  margin-top: auto;
  margin-bottom: auto;
}


.contact-footer {
  margin-left: 150px;
  margin-top: auto;
  margin-bottom: auto;
}

.copyright {
  border-top: 2px solid grey;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  
}

