.titre-page {
  background-color: #9BB7D4;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nom-produit, .dimensions, .matiere, .prix, .code {
  margin-bottom: 20px;
}

form, .add-tableau {
  margin-left: 650px;
}

input {
  height: 25px;
}