.titre-page {
  background-color: #9BB7D4;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nom-produit, .dimensions, .matiere, .prix, .code, .thumbnail-product {
  margin-bottom: 30px;
}
.form-product, .add-tableau {
  margin-left: 650px;
}

input {
  height: 25px;
}

.btn-submit {
  margin-bottom: 50px;
}