.all-img-home {
  margin-top: 20px;
}

/* La property objecti-fit fonctionne, lorqu'on donne une width et une height à une image */
.image-home {
  width: 1500px;
  height: 500px;
  object-fit: cover;

}

.navbar {
  width: 500px;
}

@media(max-width: 1150px) {

  .image-home {
    width: 1000px;
    object-fit: contain;
   
  }
  
}